<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="cases" style=" background-image: url(static/images/casesbg.jpg);
                            background-repeat:no-repeat;
                            background-size: cover;" >
	<div class= "topnav">
		<a href="home.html">Home</a>
		<a class="active" href="cases.html">Cases</a>
		<a href="info.html">Information</a>
		<a href="vaccine.html">Vaccine</a>
	</div>

	<h2>Total Cases:</h2>
	<p> {{ total_case }} <p><br>

	<h2>Total Deaths:</h2>
	<p> {{ totalDeaths }} <p><br>

	<h2>Total Recovered:</h2>
	<p> {{ totalRecovered }} <p><br>

	<h2>Today's Cases:</h2>
	<p> {{ today_case }} <p><br>

	<h2>Today's Deaths:</h2>
	<p> {{ todayDeaths }} <p><br>

	<h2>Deaths (per million):</h2>
	<p> {{ deaths_per_million }} <p><br>

	<h2>Historical Data Cases:</h2>
	<p> {{ historical_data_cases }} <p><br>
</body>

<footer style="
	position: fixed;
	bottom: 0;
	color: gray;
	text-shadow: 0 0 black;">
	<p>HackBU 2021 Hack</p>
	<p>Created by: Jack, Peter, Simrohn, Chanchal</p>
</footer>

</html>
