<!DOCTYPE html>
<html>

<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
	<script src="http://geodata.solutions/includes/countrystatecity.js"></script>
</head>

<body class="home">
	<div class= "topnav">
		<a class="active" href="home.html">Home</a>
		<a href="cases.html">Cases</a>
		<a href="info.html">Information</a>
		<a href="vaccine.html">Vaccine</a>
	</div>
	<h1>Location</h1>

	<div>
		<select name="country" class="countries" id="countryId">
	    <option value="">Select Country</option>
		</select>
        <input type="submit" value="Submit" class="myButton">
		<select name="state" class="states" id="stateId">
		    <option value="">Select State</option>
		</select>
        <input type="submit" value="Submit" class="myButton">
		<select name="city" class="cities" id="cityId">
		    <option value="">Select City</option>
		</select>
        <input type="submit" value="Submit" class="myButton">
		
	</div>

	<form name="locationData" action="home.html" method="POST">
		<p>County:</p>
		<input id="county" name="county" placeholder="Enter County" type="text">
		<input type="submit" value="Submit" class="myButton">
	</form>
</body>

<footer>
	<p>HackBU 2021 Hack</p>
	<p>Created by: Jack, Peter, Simrohn, Chanchal</p>
</footer>


</html>
