<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="info" style=" background-image: url(static/images/infobg.jpg);
                           background-repeat:no-repeat;
                           background-size: cover;">
	<div class= "topnav">
		<a href="home.html">Home</a>
		<a href="cases.html">Cases</a>
		<a class="active" href="info.html">Information</a>
		<a href="vaccine.html">Vaccine</a>
	</div>
	<h2>CDC GUIDELINES</h2>

	{% for tip in cdc %}
		<div>{{ tip }}</div>
	{% endfor %}

	<h2>WHO GUIDELINES</h2>

	{% for tip in who %}
		<div>{{ tip }}</div>
	{% endfor %}
</body>

<footer style="
	position: fixed;
	bottom: 0;
	color: gray;
	text-shadow: 0 0 black;">
    <p>
        Sources: <a href="https://cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">cdc.gov</a> and <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">who.int</a>
    </p>
	<p>HackBU 2021 Hack</p>
	<p>Created by: Jack, Peter, Simrohn, Chanchal</p>
</footer>

</html>
