<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<center><body class="vaccine" style=" background-image: url(static/images/bg2.png);
background-repeat:no-repeat; background-size: cover;" ></center>
	<div class= "topnav">
		<a href="home.html">Home</a>
		<a href="cases.html">Cases</a>
		<a href="info.html">Information</a>
		<a class="active" href="vaccine.html">Vaccine</a>
	</div>	
</body>
<footer>
	<p>HackBU 2021 Hack</p>
	<p>Created by: Jack, Peter, Simrohn, Chanchal</p>
</footer>
</html>