<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="vaccine" style="   background-image: url(static/images/vaccinebg.jpg);
                                background-repeat:no-repeat;
                                background-size: cover;" >
	<div class= "topnav">
		<a href="home.html">Home</a>
		<a href="cases.html">Cases</a>
		<a href="info.html">Information</a>
		<a class="active" href="vaccine.html">Vaccine</a>
	</div>

    <h1>Can you be vaccinated?</h1>
    <h2>If you have a history of severe allergies:</h2>
    <p>People with a history of severe allergic reaction to any component of the vaccine should not take it.</p>

    <h2>If you are pregnant or breastfeeding:</h2>
    <p>Pregnant women are at higher risk of severe COVID-19 than non-pregnant women, and COVID-19 has been associated with an increased risk of pre-term birth.

However due to insufficient data, WHO does not recommend the vaccination of pregnant women at this time.

In case a pregnant woman has an unavoidable risk high of exposure (e.g. a health worker), vaccination may be considered in discussion with their healthcare provider.

If a breastfeeding woman is part of a group (e.g. health workers) recommended for vaccination, vaccination can be offered. WHO does not recommend discontinuing breastfeeding after vaccination.</p>

    <h2>If you are under 16 years of age:</h2>
    <p>As the vaccine has only been tested in people aged 16 and above, it is not recommended that anyone younger take the vaccine.</p>

    <h2>If you have a known medical condition:</h2>
    <p>The vaccine has been found to be safe and effective in people with various conditions that are associated with increased risk of severe disease.

This includes hypertension, diabetes, asthma, pulmonary, liver or kidney disease, as well as chronic infections that are stable and controlled.

Further studies are required for the impacts on immune-compromised persons. The interim recommendation is that immune-compromised persons who are part of a group recommended for vaccination may be vaccinated, though when possible, not before receiving information and counselling.

Persons living with HIV are at higher risk of severe COVID-19 disease. Limited safety data exists on HIV-infected persons with well controlled disease from the clinical trials. Known HIV-positive vaccine recipients should be informed, and when possible, counselled in relation to the available data.</p>

    <h2>If you have or have had COVID-19 already:</h2>
    <p>Vaccination can be offered to people who have had COVID-19 in the past.

But given the limited vaccine supply, individuals may wish to defer their own COVID-19 vaccination for up to 6 months from the time of SARS-CoV-2 infection. As more data becomes available on duration of immunity after infection, this time period may be adjusted.

Testing for prior infection is not recommended for the purpose of vaccine decision-making.</p>

</body>

<footer style="
	position: fixed;
	bottom: 0;
	color: gray;
	text-shadow: 0 0 black;">
	<p>HackBU 2021 Hack</p>
	<p>Created by: Jack, Peter, Simrohn, Chanchal</p>
</footer>

</html>